/* 
reset styles, 
html and body selector styles
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  //what 1rem is
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @include respond(tabland) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tabport) {
    font-size: 50%; //1rem = 8px
  }
  
  @include respond(bigdesktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tabport) {
    padding: 0;
  }
}

::selection{
  background-color: $color-primary-light;
  color: $color-white;
}